//variables
$title-size: 2.5rem; //40px
$subtitle-size: 1.5rem; //24px
$text-size: 1.125rem; //18px
$central-padding: 5%;
$form-size: 8px;
$radius: 5px;
$color-card: #074E87;
$color-body: rgb(172, 171, 171);
$color-letter: white;


//imagen
.image{
    width: 210px;
    height: 295px;
}