@import "../styles/core/global.scss";

.body{
   background: linear-gradient(to bottom, $color-card, black);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed; //con esto parece que las tarjetas se deslizan
   
}

.App{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}
.header{
    background-image: url("../images/HP-TT.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 20vh;
}

.list__title{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}