@import "../styles/core/global.scss";

.body{
    background-color: $color-body;
}

.App{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}
.header{
    background-image: url("../images/hp-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 20vh;
}

.list__title{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}