@import "../styles/core/global.scss";

.body{
    background-color: $color-body;
}

.App{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

.list__title{
    text-align: center;
    color: $color-letter;
    font-size: $title-size; 
    padding: $central-padding;
    margin: 0;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}